<p>
  login works!
</p>
<button (click)="loginWithFacebook()" >Login with facebook</button>

<button (click)="getUser()" >Get user data</button>

<img  [src]="profilepic" width="100%">
{{hello}}



<img
  src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"
  data-caman-hidpi="/path/to/image@2x.jpg"
   id="canvas-id"
>

<input type="file" name="" id="browseFile" (change)="PreviewImage($event)">

<button (click)="changeColor()">change color</button>
<button (click)="drawImage()">Draw Image</button>
<button (click)="SaveImage()">Save Image</button>





<h1>NgWarrior Image parlour</h1>
<div class="col-lg-2">
  <canvas id="canvas"></canvas>
</div>
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/koala.jpg" id="spaceship" style="display:none"/>
<div class="col-lg-6">
  <!-- <div class="col-lg-6">
    <label for="hue">Hue</label>
    <input id="hue" name="hue" type="range" min="0" max="300" value="0" (change)="ApplyFilter(this)">
    <label for="contrast">Contrast</label>
    <input id="contrast" name="contrast" type="range" min="-20" max="20" value="0">
  </div>
  <div class="col-lg-6">
    <label for="vibrance">Vibrance</label>
    <input id="vibrance" name="vibrance" type="range" min="0" max="400" value="0">
    <label for="sepia">Sepia</label>
    <input id="sepia" name="sepia" type="range" min="0" max="100" value="0">
  </div> -->
  <nav class="filters">
    <button id="resetbtn" class="btn btn-success" (click)="ResetImage()">Reset Photo</button>
    <button id="brightnessbtn" class="btn btn-primary" (click)="Brightness()">Brightness</button>
    <button id="noisebtn" class="btn btn-primary" (click)="Noise()">Noise</button>
    <button id="sepiabtn" class="btn btn-primary" (click)="Sepia()">Sepia</button>
    <button id="contrastbtn" class="btn btn-primary" (click)="Contrast()">Contrast</button>
    <button id="colorbtn" class="btn btn-primary" (click)="Colorize()">Colorize</button>
  </nav>

  <nav class="filters">
    <button id="vintagebtn" class="btn btn-primary" (click)="Vintage()">Vintage</button>
    <button id="lomobtn" class="btn btn-primary" (click)="Lomo()">Lomo</button>
    <button id="embossbtn" class="btn btn-primary" (click)="Emboss()">Emboss</button>
    <button id="tiltshiftbtn" class="btn btn-primary" (click)="TiltShift()">Tilt Shift</button>
    <button id="radialblurbtn" class="btn btn-primary" (click)="RadialBlur()">Radial Blur</button>
    <button id="edgeenhancebtn" class="btn btn-primary" (click)="EdgeEnhance()">Edge Enhance</button>
  </nav>

  <nav class="filters">
    <button id="posterizebtn" class="btn btn-primary" (click)="Posterize()">Posterize</button>
    <button id="claritybtn" class="btn btn-primary" (click)="Clarity()">Clarity</button>
    <button id="orangepeelbtn" class="btn btn-primary" (click)="OrangePeel()">Orange Peel</button>
    <button id="sincitybtn" class="btn btn-primary" (click)="SinCity()">Sin City</button>
    <button id="sunrisebtn" class="btn btn-primary" (click)="SunRise()">Sun Rise</button>
    <button id="crossprocessbtn" class="btn btn-primary" (click)="CrossProcess()">Cross Process</button>
  </nav>

<!--   <nav class="filters">
    <button id="hazydaysbtn" class="btn btn-primary">Hazy</button>
    <button id="lovebtn" class="btn btn-primary">Love</button>
    <button id="grungybtn" class="btn btn-primary">Grungy</button>
    <button id="jarquesbtn" class="btn btn-primary">Jarques</button>
    <button id="pinholebtn" class="btn btn-primary">Pin Hole</button>
    <button id="oldbootbtn" class="btn btn-primary">Old Boot</button>
    <button id="glowingsunbtn" class="btn btn-primary">Glow Sun</button>
  </nav> -->

  <nav class="filters">
    <button id="hdrbtn" class="btn btn-warning" (click)="HdrEffect()">HDR Effect</button>
   <!--  <button id="oldpaperbtn" class="btn btn-warning">Old Paper</button>
    <button id="pleasantbtn" class="btn btn-warning">Pleasant</button>
    <button id="savebtn" class="btn btn-success">Save Image</button> -->
  </nav>
</div>



