
<!-- <button (click)="loginWithFacebook()" >Login with facebook</button> -->

<div class="media-left">
    <a href="#">
      <img class="media-object" [src]="profilepic" width="100">
    </a>
  </div>
<button  class="btn btn-primary pull-right" (click)="getUser()" >Login with Facebook</button>



<div class="input-group">
  <input type="file" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2" id="browseFile" (change)="PreviewImage($event)">
  <span class="input-group-addon" id="basic-addon2">Upload photo</span>
</div>



<!-- <button (click)="changeColor()">change color</button>
<button (click)="drawImage()">Draw Image</button> -->



<ul class="nav nav-pills">
  <nav class="filters">
    <button id="resetbtn" class="btn btn-success" (click)="ResetImage()">Reset effects</button>
    <button id="brightnessbtn" class="btn btn-primary" (click)="Brightness()">Brightness</button>
    <button id="noisebtn" class="btn btn-primary" (click)="Noise()">Noise</button>
    <button id="sepiabtn" class="btn btn-primary" (click)="Sepia()">Sepia</button>
    <button id="contrastbtn" class="btn btn-primary" (click)="Contrast()">Contrast</button>
    <button id="colorbtn" class="btn btn-primary" (click)="Colorize()">Colorize</button>

    <button id="vintagebtn" class="btn btn-primary" (click)="Vintage()">Vintage</button>
    <button id="lomobtn" class="btn btn-primary" (click)="Lomo()">Lomo</button>
    <button id="embossbtn" class="btn btn-primary" (click)="Emboss()">Emboss</button>
    <button id="tiltshiftbtn" class="btn btn-primary" (click)="TiltShift()">Tilt Shift</button>
    <button id="radialblurbtn" class="btn btn-primary" (click)="RadialBlur()">Radial Blur</button>
    <button id="edgeenhancebtn" class="btn btn-primary" (click)="EdgeEnhance()">Edge Enhance</button>


    <button id="posterizebtn" class="btn btn-primary" (click)="Posterize()">Posterize</button>
    <button id="claritybtn" class="btn btn-primary" (click)="Clarity()">Clarity</button>
    <button id="orangepeelbtn" class="btn btn-primary" (click)="OrangePeel()">Orange Peel</button>
    <button id="sincitybtn" class="btn btn-primary" (click)="SinCity()">Sin City</button>
    <button id="sunrisebtn" class="btn btn-primary" (click)="SunRise()">Sun Rise</button>
    <button id="crossprocessbtn" class="btn btn-primary" (click)="CrossProcess()">Cross Process</button>
    <button id="hdrbtn" class="btn btn-warning" (click)="HdrEffect()">HDR Effect</button>

  </nav>
</ul>

<div class="col-lg-9">
  <canvas id="canvas"></canvas>
</div>

<div class="col-lg-3">


<ul class="list-group">
  <li class="list-group-item list-group-item-success"><button id="resetbtn" class="btn btn-success" (click)="SaveImage()">Download Photo</button></li>
 
</ul>
</div>



